@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500; 1700;1900&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'pacifico-regular';
    max-width: 2000px;
}
:root {
    --white: #fff;
    --main_color: #007CBA;
    --negative_status: #8B0000;
    --middle_status: #FFD700;
    --positive_status: #00FF00;
    --selected: #0d5c78;
    --warning: #dc3545;
    --light: #013220;
}
.title-h1 {
    text-align: center;
    margin: 20px;
}
h2,
h3,
h4,
a {color: var(--white);}

.negative {color: var(--negative_status);}
.middle {color: var(--middle_status);}
.positive {color: var(--positive_status);}

header {
    background: var(--main_color);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}


.logo {
    width: 400px;
    height: 108px;
    margin-left: 20px;
    margin-top: -31px;
    filter: invert(100%) brightness(550%);
    opacity: 0;
}
.navigation {position: absolute; right: 200px;}

.navigation ul {display: flex;}
.navigation li {padding: 20px;}
.navigation a {
    color: var(--white);
    font-size: 20px;
}
.content {display: flex; position: relative;}

.info {
    width: 35%;
    height: 100vh;
    background-color: var(--main_color);
    margin: 0;
    
}
.info_center {
    width: 350px;
    margin: 200px auto;
}
.info_center h2 {font-size: 30px; margin-bottom: 15px; text-align: center;}
.info_center h3 {font-size: 26px; margin-bottom: 10px;}

.task_light {color: var(--light);}
.task_middle {color: var(--middle_status);}
.task_ganger {color: var(--negative_status);}
.loading_task {
    font-size: 40px;
    color: var(--negative_status);
    margin-top: 35vh;
}
.none_tasks {
    margin-top: 36vh;
}

.chart {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 80%;
 }
 
 .chart_chart__contentDescription {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background: var(--main_color);
     color: var(--white);
     width: 800px;
     height: 24px;
     position: absolute;
     top: 20px;
     font-size: 20px;
     padding: 20px;
     box-sizing: border-box;
 }
 .chart_chart__content {
     display: flex;
     justify-content: space-around;
     background: var(--main_color);
     width: 800px;
     height: 700px;
     position: relative;
     top: 60px;
     padding: 10px;
     box-sizing: border-box;
 }
 .all_style_chart {
     position: relative;
     width: 100px;
     background: transparent; 
     border: 1px solid black;
     display: flex;
     justify-content: center;
 }
 .all_style_chart p {
     position: absolute;
     bottom: -50px;
     color: var(--white);
     font-size: 19px;
     font-weight: bold;
     text-align: center;
 }


 /* WARNING PROFILE */
 .wrapper-profile_warning {
    width: 500px;
    height: 750px;
    background: var(--main_color);
    margin-top: 20px;
    margin-right: 50px;
 }

.wrapper-profile_warning h2 {
    text-align: center; 
    font-size: 28px; 
    padding: 10px;
}
.wrapper-profile_warning h3 {
    font-size: 25px; 
    color: var(--white); 
    margin: 10px 25px; 
    background: var(--warning);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.wrapper-profile_warning span {color: black;}



/* PAGE CATEGORIES PROFILES */

.category_employee {
    background: var(--main_color);
    min-width: 200px;
    height: 20vh;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
}
.employee {
    cursor: pointer;
    width: 60%;
    min-width: 900px;
    height: 100px;
    background: var(--main_color);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.image_profile {
    width: 70px;
    height: 70px;
    border-radius: 120px;
    object-fit: cover;
}
.selected {
    background: var(--selected); 
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
    padding: 3px;
    border-radius: 2px;
}
.category_employee a {
    background: var(--main_color);
    width: 200px;
    height: 50px;
    margin: 30px 0;
    font-size: 24px;
}
.category_employee li {margin: 10px auto;}


/* SHOW PROFILE PAGE */
.wrapper-user__show {
    display: flex;
    align-items: center;
    background: var(--main_color);
    margin-top: 50px;
    padding: 50px;
}

.data_employee {text-align: center; margin-top: 50px;}
.user_image,
.user_info__text {margin: 0 150px;}
.user_info__text h1 {color: var(--white); margin-bottom: 20px;}
.user_info__text span {color: var(--positive_status);}
.user_info__text h2 {margin-bottom: 10px; font-size: 27px;}
.user_info__text h3 {margin-top: 100px;}

.user_image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}





